<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DragAndDrop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Sortable - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../resources/data/data.js"></script>
</head>
<body>
<div id="cont"></div>

<script src="../resources/js/index.js"></script>
<link rel="stylesheet" href="../resources/css/index.css">
</body>
</html>
